.callToAction {
  text-align: center;
  padding: 20em 5% 20em 5%;

  h1,
  input {
    display: inline-block;
    margin: 2% 60px;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
    }
  }
}
