.callToAction {
  text-align: center;
  padding: 20em 5% 20em 5%;

  h1,
  input {
    display: inline-block;
    margin: 2% 60px;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .callToAction {
    margin-top: 25em;
    padding: 8em 5% 15em 5%;
    background-size: 70%;

    h1,
    input {
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .callToAction {
    margin-top: 5em;
  }
}
