$primary: #e94e1b;

nav {
  line-height: 150px;

  ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    li .link {
      padding: 0.5em;

      &:hover {
        color: darken($primary, 20%);
        cursor: pointer;
      }
    }
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 700;

    &:first-child {
      float: left;
    }

    img {
      vertical-align: middle;
    }
  }
}
